/* Your CSS Code here. */
.holder{
	width:200px;
	heihgt:200px;
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows:repeat(2,1fr);
	grid-gap:5px;
}
.item {
  border: 1px solid black;
  text-align: center;   
  padding: 10px;         
}